%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 1
	%tr
		%td Env SU PST 27.08.10
		%td Env SU PST 27.08.10
		%td Env SU PST 27.08.10
		%td Env SU PST 27.08.10
		%td Env SU PST 27.08.10
	%tr
		%td HEK CD146 2B6 9.02.10
		%td HEK CD146 2B6 9.02.10
		%td HEK CD146 2B6 9.02.10
		%td HEK CD146 2B9 9.02.10
		%td HEK CD146 2B9 9.02.10
	%tr
		%td HEK CD146 2B9 9.02.10
		%td HEK CD146 2B4 9.02.10
		%td HEK CD146 2B4 9.02.10
		%td HEK CD146 1C8 9.02.10
		%td HEK CD146 1C8 9.02.10
	%tr
		%td HEK CD146 1C8 9.02.10
		%td HEK CD146 1C8 9.02.10
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 2
	%tr
		%td HEK CD5 3.106 14092009 1-5
		%td HEK CD5 3.106 14092009 1-5
		%td HEK CD5 3.106 14092009 1-5
		%td HEK CD5 3.106 14092009 1-5
		%td HEK CD5 3.106 14092009 1-5
	%tr
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
	%tr
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
		%td HEK 293 Ebna CD5 12.11.09
		%td 14
		%td ??
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td P4, P5, ou P7 NOV
		%td P4, P5, ou P7 NOV
		%td P4, P5, ou P7 NOV
		%td P4, P5, ou P7 NOV
		%td P4, P5, ou P7 NOV
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 3
	%tr
		%td mDelta4 293T 5.106 12.01.09
		%td mDelta4 293T 5.106 12.01.09
		%td mDelta4 293T 5.106 ?.?.?
		%td 293T mDelta4 5.106 19.12.08
		%td hDelta4 293T 5.106 19.12.08
	%tr
		%td PS 293T 4.106 02.01.09
		%td PS 293T 4.106 02.01.09
		%td PS 293T 5.106 02.01.09
		%td 9
		%td 10
	%tr
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
	%tr
		%td UNC5A PST 18.11.10
		%td UNC5A PST 18.11.10
		%td UNC5A PST 18.11.10
		%td UNC5A PST 18.11.10
		%td UNC5A PST 18.11.10
	%tr
		%td UNC5A PST 18.11.10
		%td UNC5A PST 18.11.10
		%td UNC5A CHO S W2 P6 C2 18.01.11
		%td UNC5A HEK St2 G3 09.12.10
		%td UNC5A HEK E2 09.12.10
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 4
	%tr
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
	%tr
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 13.08.10
		%td hDelta4 293T 3.106 19.08.10
	%tr
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
	%tr
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
	%tr
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.10
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
		%td hDelta4 293T 3.106 19.08.11
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 5
	%tr
		%td SLURP1 CHO MCB
		%td SLURP1 CHO MCB
		%td adrenomed
		%td 4
		%td 5
	%tr
		%td 6
		%td 7
		%td 8
		%td 9
		%td 10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25