%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 1
	%tr
		%td HEK F3 107 28.09.09
		%td HEK F3 107 28.09.09
		%td HEK F3 107 28.09.09
		%td HEK F3 107 28.09.09
		%td Freestyle 293F (10e7) lot 556457 Invitrogen
	%tr
		%td HEK FS F5 107
		%td HEK FS F5 107
		%td HEK FS F5 107
		%td HEK FS F5 107
		%td HEK FS F5 107
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 2
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
	%tr
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
		%td HEK FS-F6 2,9,11
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 3
	%tr
		%td D1 271008
		%td D1 271008
		%td D1 271008
		%td D1 271008
		%td D1 271008
	%tr
		%td D1 271008
		%td D1 271008
		%td D1 271008
		%td D1 271008
		%td D1 271008
	%tr
		%td D1 271008
		%td D1 271008
		%td#3_13 CRL-10852 293c18 lot 4071151 ATCC
		%td 14
		%td HEK 293T 2,9,11
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 4
	%tr
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
	%tr
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
	%tr
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
	%tr
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
	%tr
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
		%td HL1 01/04/10
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 5
	%tr
		%td 1
		%td 2
		%td 3
		%td 4
		%td 5
	%tr
		%td 6
		%td 7
		%td 8
		%td 9
		%td 10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25