%table.boite
	%tr
		%td PXM03 clone 3 26/12/08  
		%td PXM03 clone 3 26/12/08
		%td PXM03 clone 4 31/12/08  
		%td PXM03 clone 4 31/12/08
		%td PXM03 clone 5 22/12/08
	%tr
		%td PXM03 clone 5 22/12/08  
		%td PXM03 clone 6 29/12/08
		%td PXM03 clone 6 29/12/08  
		%td PXM03 clone 7 29/12/08
		%td PXM03 clone 8 31/12/08
	%tr
		%td PXM03 clone 8 31/12/08  
		%td PXM03 clone 9 02/01/09
		%td PXM03 clone 9 02/01/09  
		%td PXM03 clone 10 31/12/08
		%td PXM03 clone 10 31/12/08
	%tr
		%td PXM03 clone 11 26/12/08  
		%td PXM03 clone 11 26/12/08
		%td PXM03 clone 12 05/01/09 
		%td PXM03 clone 12 05/01/09
		%td PXM03 clone 13 26/12/08
	%tr
		%td PXM03 clone 13 26/12/08  
		%td PXM03 clone 14 02/01/09
		%td PXM03 clone 14 02/01/09  
		%td PXM03 clone 15 05/01/09
		%td PXM03 clone 15 05/01/09
%table.boite
	%tr
		%td PXM03 clone 16 26/12/08  
		%td PXM03 clone 16 26/12/08
		%td PXM03 clone 17 31/12/08  
		%td PXM03 clone 17 31/12/08
		%td PXM03 clone 18 22/12/08
	%tr
		%td PXM03 clone 18 22/12/08  
		%td PXM03 clone 19 29/12/08
		%td PXM03 clone 19 29/12/08  
		%td PXM03 clone 20 29/12/08
		%td PXM03 clone 20 31/12/08
	%tr
		%td PXM03 clone 21 31/12/08  
		%td PXM03 clone 21 02/01/09
		%td PXM03 clone 22 02/01/09  
		%td PXM03 clone 22 31/12/08
		%td PXM03 clone 23 31/12/08
	%tr
		%td PXM03 clone 23 26/12/08  
		%td PXM03 clone 24 26/12/08
		%td PXM03 clone 24 05/01/09 
		%td PXM03 clone 25 05/01/09
		%td PXM03 clone 25 26/12/08
	%tr
		%td PXM03 clone 26 26/12/08  
		%td PXM03 clone 26 02/01/09
		%td PXM03 clone 27 02/01/09  
		%td PXM03 clone 27 05/01/09
		%td PXM03 clone 28 05/01/09
%table.boite
	%tr
		%td PXM12 Cl1 5,79.106c 84% 11/09/09
		%td PXM12 Cl2 1.7.106c 83% 11/09/09
		%td PXM12 Cl2 5.106c 11/09/09
		%td PXM12 Cl3 5.106c 82% 11/09/09
		%td PXM12 Cl3 5.106c 82% 11/09/09
	%tr
		%td PXM12 Cl4 5.106c 11/09/09
		%td PXM12 Cl5 5.106c 82% 11/09/09
		%td PXM12 Cl5 5.106c 82% 11/09/09
		%td PXM12 Cl6 2.106c 11/09/09
		%td PXM12 Cl6 5.106c 76% 11/09/09
	%tr
		%td PXM12 Cl7 5.106c 11/09/09
		%td PXM12 Cl8 73% 11/09/09
		%td PXM12 Cl8 73% 11/09/09
		%td PXM12 Cl9 5,79.106c 84% 11/09/09
		%td PXM12 Cl9 5,79.106c 84% 11/09/09
	%tr
		%td PXM12 Cl10 5,79.106c 84% 11/09/09
		%td PXM12 Cl10 5,79.106c 84% 11/09/09
		%td PXM12 Cl11 5,79.106c 84% 11/09/09
		%td PXM12 Cl11 5,79.106c 84% 11/09/09
		%td PXM12 Cl12 5,79.106c 84% 11/09/09
	%tr
		%td PXM12 Cl12 5,79.106c 84% 11/09/09
		%td PXM12 Cl13 5,79.106c 84% 11/09/09
		%td PXM12 Cl13 5,79.106c 84% 11/09/09
		%td PXM12 Cl14 5,79.106c 84% 11/09/09
		%td PXM12 Cl14 5,79.106c 84% 11/09/09
%table.boite
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
	%tr
		%td 293T P24 10/07/09
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td 1
		%td 2
		%td 3
		%td 4
		%td 5
	%tr
		%td 6
		%td 7
		%td 8
		%td 9
		%td 10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25