%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 1
	%tr
		%td 1
		%td 2
		%td 3
		%td 4
		%td 5
	%tr
		%td 6
		%td 7
		%td 8
		%td 9
		%td 10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 2
	%tr
		%td mAb 19-5 1A11 A11 D2
		%td mAb 19-5 1A11 A11 D2
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 1E12 E10 W1 A2
	%tr
		%td mAb 19-5 1E12 E10 W1 A2  
		%td mAb 19-5 1A11 A11 D2
		%td mAb 19-5 1A11 A11 D2
		%td mAb 19-5 1A11 A11 D2
		%td mAb 19-5 1A11 A11 D2
	%tr
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 2F11C5B1
		%td mAb 19-5 1E12 E10 W1 A2
	%tr
		%td mAb 19-5 1E12 E10 W1 A2
		%td mAb 19-5 1E12 E10 W1 A2
		%td mAb 19-5 1E12 E10 W1 A2
		%td 19
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 3
	%tr
		%td PXM023 Gal9 mAB 1b4 E10 2D12
		%td PXM023 Gal9 mAB 1b4 E10 2D12
		%td PXM023 Gal9 mAB 1b4 A12 1G3
		%td PXM023 Gal9 mAB 1b4 A12 1G3
		%td PXM023 Gal9 mAB 1b4 E11 1E5
	%tr
		%td PXM023 Gal9 mAB 1b4 E10 1D8
		%td PXM023 Gal9 mAB 1b4 E10 1D8
		%td PXM023 Gal9 mAB 1b1 C1 2E6
		%td PXM023 Gal9 mAB 1b1 C1 2E6
		%td PXM023 Gal9 mAB 1b3 H1 2C7
	%tr
		%td PXM023 Gal9 mAB 1b3 H1 2C7
		%td PXM023 Gal9 mAB 1b4 E10 1D9
		%td PXM023 Gal9 mAB 1b4 E10 1D9
		%td PXM023 Gal9 mAB 1b5 H11 2E12
		%td PXM023 Gal9 mAB 1b5 H11 2E12
	%tr
		%td PXM023 Gal9 mAB 1b4 A1 1F4
		%td PXM023 Gal9 mAB 1b4 A1 1F4
		%td PA255#55 Clone n°2E5D5
		%td PA255#56 Clone n°1A10C11
		%td 20
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 4
	%tr
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
	%tr
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
	%tr
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
		%td MRC5 14/06/11
	%tr
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
	%tr
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
		%td MRC5 19/12/11
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 5
	%tr
		%td PXM24 P3D3#H10
		%td PXM24 P3D3#H10
		%td PXM24 P1A4#F6#C12
		%td PXM24 P1A4#F6#C12
		%td PXM24 P4D6#E7#E12
	%tr
		%td PXM24 P4D6#E7#E12
		%td PXM24 P2A5#A12#E11
		%td PXM24 P3D3#C12#D4
		%td PXM24 P3D3#C12#D4
		%td 10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td 16
		%td 17
		%td 18
		%td 19
		%td 20
	%tr
		%td Hyb de Rats 12A10-13 Amp Client
		%td Hyb de Rats 12A10-13 5.106c à 82% 30/11/11 MM
		%td Hyb de Rats 35B11-8  Amp Client
		%td Hyb de Rats 35B11-8 5.106c à 89% 30/11/11 MM
		%td 25