%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 1
	%tr
		%td VERO IPT G1
		%td VERO IPT G1
		%td VERO IPT G1
		%td VERO IPT G1
		%td VERO IPT G1
	%tr
		%td VERO IPT G1
		%td VERO IPT G1
		%td VERO IPT G1
		%td VERO IPT G1
		%td#1_10 Véro 9.106 cell Lyon 29.09.09
	%tr
		%td Véro P141 Tunisie
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td HEK CD146 1C8 9.02.10
		%td HEK CD146 1C8 9.02.10
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
	%tr
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
		%td Véro 9.106 cell Lyon 29.09.09
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 2
	%tr
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
	%tr
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
	%tr
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
	%tr
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
	%tr
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
		%td Véro P143 02/07/2010
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 3
	%tr
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
	%tr
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
		%td BHK21 0,1x106 3/09/05
	%tr
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
	%tr
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
		%td BHK21 P58 10.06.10
	%tr
		%td 21
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 4
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
		%td RK13 4.10^6 04/09/09
	%tr
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
		%td 293T P24 10/07/09
	%tr
		%td 293T P24 10/07/09
		%td 22
		%td 23
		%td 24
		%td 25
%table.boite
	%tr
		%td{ :colspan => 5, :style => 'border:none;height:30px;text-align:left' } Boîte 5
	%tr
		%td#5_1 T3 5,67,105 08/10/09
		%td#5_2 T3 5,67,105 08/10/09
		%td#5_3 T3 5,67,105 08/10/09
		%td#5_4 T3 5,67,105 08/10/09
		%td#5_5 T3 5,67,105 08/10/09
	%tr
		%td T3 4,106 21/01/10
		%td T3 4,106 21/01/10
		%td T3 4,106 21/01/10
		%td T3 4,106 21/01/10
		%td T3 4,106 21/01/10
	%tr
		%td 11
		%td 12
		%td 13
		%td 14
		%td 15
	%tr
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
	%tr
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09
		%td MDCK 3,2x106 28/09/09